.boss-statement{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.menu-block{
    display: flex;
    justify-content: center;
}

.check-food-order{
    display: flex;
    justify-content: center;
}

.system-management{
    display: flex;
    justify-content: center;
}

.ordered-food{
    margin-top: 20px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.food-border{
    border: solid 3px black;
}

.purchase-description{
    border: solid 3px black;
}

.statement-qty-center{
    display: flex;
    justify-content: center;

}

.purchase-description{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}



.statement-center{
    margin-top: 30px;
    margin-bottom: 30px;
}

.back{
    display: flex;
    justify-content: center;
}

.back button{

    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
    

}

.back button:hover{
    background: black;
    color: white
}
.back button h3{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.check-record-statement{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}

.buttondiv{
    display: flex;
    justify-content: center;
    background: white;
}

.butssstondiv button.continue-button{
    background: white;
    padding:20px;
}

.picture-size{
    height: 450px;
    width: 600px;
}


.fa-times{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 600px;
    height: 450px;
    width: 600px;
}

