html,body{
	margin:0;
}



.full-screen-video-container{
	position:relative;
	height:100vh;
	width:100vw;
	overflow:hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.full-screen-video-container video{
	z-index: -1;
	position: absolute;
	width:auto;
	height:auto;
	min-width:100%;
	min-height: 100%;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%)

}

.full-screen-video-content{
	background-color: white;
	color:#ffffff;
	padding:20px;
	font-size:30px;
	margin-top: 100px;
}


body {
    background-image: url(restaurant.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.col{
    color:#fff;
    display: flex;
    justify-content: center;
  
  
}

#bordered{
    height:789px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 150px;
 color:#fff;
  height: 500px;
 width:300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
}

.container3{
    position: absolute;

  
 color:#fff;
 width: 350px;
    height: 700px;
    margin-top: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
}

.header{
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center
  
}

.reg{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  
}
.back{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  
}
button{
    color:#ffff;
    background:#0000
}

.top20{
    margin-top:30px;
    display: flex;
  justify-content: center;
}
