.block{
    
    display:flex;
    flex:1 ;
    

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background: rgba(0, 0, 0, 0.6);
    color:white;
}

.logout-button{
    margin-top: 20px;
    display: flex;
}

.col-4.check{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.check-button button{

    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s
}

.check-button button:hover{
    background: black;
    color: white
}

.logout-button button{

    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s
}

.logout-button button:hover{
    background: black;
    color: white
}

.food-intro-statement{
    display:flex;
    justify-content: center;
       margin-left: 35px;
       margin-right: 35px;
    border: solid 1px rgba(0, 0, 0, 0.6)
}

.food-intro-statement h3{
    margin-top: 5px;
}
.menu{
    margin-left: 35px;
    margin-right: 35px;
    border: solid 3px
}
#menu{
    margin-left: 35px;
    margin-right: 35px;
    border: solid 1px rgba(0, 0, 0, 0.6)
}

.beef-picture-size{
    height: 150px;
    width: 200px;
}

.food-intro{
    display:flex;
    
    margin-left: 15px;;
    margin-right: 10px;
    border: solid 1px rgba(0, 0, 0, 0.6)

}

.food-detail{
   width:100%
}

.beef-rice{
    padding:10px;  
    flex:1;
    
}

.add-button h3{
    display: flex;
    align-items: center
}

.add-button{

    border: solid 3px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s
}

.add-button:hover{
    background: black;
    color: white
}

.subtract-button{
    flex:1;
    border: solid 3px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s
}

.subtract-button:hover{
    background: black;
    color: white
}



.beef-rice2{
    
    padding:10px;  
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1; 
    
}
.qua{
    padding:10px;  
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
    
}
.quantity{  
    display:flex;   
    justify-content: center;
    
}

.number{
    border: solid 2px black;
    display:flex;   
    justify-content: center;    
    width: 100px;
}
.number h3{

    margin-bottom: 0
}

.clear-button button{

    border: solid 3px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    transition: 0.3s
}

.clear-button button:hover{
    background: black;
    color: white
}

.add-subtract-button{
    display:flex;
    flex:1;
    align-items: center;
}

.purchase-button{
    display:flex;
    justify-content: center;
}
.clear-all-button{
    display:flex;
    justify-content: center;
}
.clear-all-button button{
    
    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s
}

.clear-all-button button:hover{
    background: black;
    color: white
}


.purchase-button button{
    
    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s
}

.purchase-button button:hover{
    background: black;
    color: white
}

.food-intro-statement2{
    display:flex;
    justify-content: center;
       margin-left: 35px;
       margin-right: 35px;
    border: solid 1px rgba(0, 0, 0, 0.6)
}

.modal-body{
    margin: 30px;
    display: flex;
    justify-content: center;
    color: white;

}

.confirm-button{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.modal-content{
    display:flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 3px;
    border-color: white;
    border-radius: 30px;
    

}

.moda2l-body{
    margin-left: 100px;
    margin-right: 100px;
}

.real-purchase-button{
    display:flex;
    justify-content: center;
    background-color: white;
}
button.real-purchase-button{
    
    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
    background:  rgba(0, 0, 0, 0.0);
    color: white;
    font-size: 15px;
}

button.real-purchase-button:hover{
    background:  white;
    color: black;
}

.modal-dialog-xxxcentered{
    padding-left: 100px;
    padding-right: 100px;
}

.real-buy-purchase-button{
    display:flex;
    justify-content: center;
    background-color: white;
}
button.real-buy-purchase-button{
    
    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
    background:  rgba(0, 0, 0, 0.0);
    color: white;
    font-size: 15px;
}

button.real-buy-purchase-button:hover{
    background:  white;
    color: black;
}

.purchase{
    display:flex;
}

.coupon{
    display:flex;
    flex-wrap: wrap;
    font-size:20px;
    justify-content:center;

}

.coupon-container{
    display:flex;
    background: white;
    color: black;
    justify-content:center;
    text-align: center;
    border: solid 3px black;
    border-radius: 10px;
    margin-bottom: 15px;
 
    
}

.text-center{
  
    margin-bottom: 10px;
}

.statement{
    margin-bottom: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

