.purchase-description{
    border: solid 3px black;
}

.statement-qty-center{
    display: flex;
    justify-content: center;

}

.purchase-description{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}



.statement-center{
    margin-top: 30px;
    margin-bottom: 30px;
}

.back{
    display: flex;
    justify-content: center;
}

.back button{

    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
    

}

.back button:hover{
    background: black;
    color: white
}
.back button h3{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.check-record-statement{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}