body {
    /*background-image: url(./backgroundPicture/wooden-board.jpg);*/
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    
    
    background-size: cover; 
    background: rgba(0, 0, 0, 0.9);
   /* width: 100vw;
    height: 100vh;
     */
}



/* .container1{display: flex;
    justify-content:center;
    align-items: center;
    /* background-size: cover;  */
    /* width: 100vw;
     height: 100vh; */ 

/*
.container{display: flex;
    justify-content:center;
    align-items: center;

}
*/
.col-12.purchase{

    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    color:#ffff;
}

.row.purchase.h1{
    display: flex;
    justify-content: center;
}
/*
.button{
    display: flex;
    justify-content:center;
}

.body9{
  

    /* margin-left:120px;
    margin-right:120px */


/*
.total{
    display: flex;
    justify-content:center;
    color: white;
    margin-top: 80px;
}
.check-reg{
    display: flex;
    justify-content:center;
    color: white;
    margin-top: 0px;
}

*/
.row.courage{
    margin-bottom: 40px;
    display:flex;
    color: white;
}
.row.reg{
    margin-bottom: 60px;
}

.reg-button{
    display:flex;
    justify-content: center;
}
button.reg-button{
    
    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s
}

button.reg-button:hover{
    background: rgba(0, 0, 0, 0.5);
    color: white
}

.no-button{
    display:flex;
    justify-content: center;
    background-color: white;
}
button.no-button{
    
    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
    background-color: white;
}

button.no-button:hover{
    background:  rgba(0, 0, 0, 0.5);
    color: white
}

.purchase-description{
    color: white;
}

.purchase-name{
    color: white;
}

.ttl{
    display:flex;
    justify-content: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 30px;
}

.row.reg{
    display:flex;
    justify-content: space-around;
}

.modal-body{
    margin: 30px;
    display: flex;
    justify-content: center;
    color: white;

}

.confirm-button{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.modal-content{
    display:flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 3px;
    border-color: white;
    border-radius: 60px;
}

.real-purchase-button{
    display:flex;
    justify-content: center;
    background-color: white;
}
button.real-purchase-button{
    
    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
    background:  rgba(0, 0, 0, 0.0);
    color: white;
    font-size: 15px;
}

button.real-purchase-button:hover{
    background:  white;
    color: black;
}

.modal-dialog-xxxcentered{
    padding-left: 100px;
    padding-right: 100px;
}

.real-buy-purchase-button{
    display:flex;
    justify-content: center;
    background-color: white;
}
button.real-buy-purchase-button{
    
    border: solid 3px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 0.3s;
    background:  rgba(0, 0, 0, 0.0);
    color: white;
    font-size: 15px;
}

button.real-buy-purchase-button:hover{
    background:  white;
    color: black;
}

.coupon{
    display:flex;
    flex-wrap: wrap;
    font-size:20px;
    justify-content:center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.coupon-container{
    display:flex;
    background: white;
    color: black;
    justify-content:center;
    text-align: center;
    border: solid 3px black;
    border-radius: 10px;
    margin-bottom: 15px;
 
    
}

.text-center{
  
    margin-bottom: 10px;
}

.statement{
    color:white;
}

.checkbox{
    display:flex;
    justify-content: flex-end;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

input[type="checkbox"]{
    width: 50px;
    height: 50px;
    cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: solid 2px black;
}

.address{
    display: flex;
    justify-content: center;
}

.address-statement{
    display:flex;
    justify-content: center;
    color: white;
}

.address-margin{
    margin-top: 20px;
    margin-bottom: 20px;
}

.address textarea{
    height: 150px;
    width: 500px;
}

button.real-purchase-button.sorry{
    font-size: 30px;
}

#address-info{
    font-size: 35px;
}

.tick{
    position: absolute;
    bottom: -20px;
    right: 5px;
    font-size: 500%;
}