body {
  background: #fff;
}

.container {
  text-align: center;
}

.done {
  font-size: 150px;

}

.statement {
  font-size: 30px;
  padding: 25px;
}



.row {
  padding: 50px;
}

.btn {
  border: 40px;
}

.row.statement{
  display:flex;
  justify-content: center;
  padding-top: 0;
  
}

.statementx{
  padding-left: 0;
  padding-right: 0;
}

.statement.total{
  font-size: 30px;
  padding-left: 0;
  padding-right: 0;

}

.logout-button{
  display:flex;
  justify-content: center;
}
button.logout-button{
  
  border: solid 3px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s
}

button.logout-button:hover{
  background: black;
  color: white
}

button.continue-button{
  display:flex;
  justify-content: center;
}
button.continue-button{
  
  border: solid 3px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.3s
}

button.continue-button:hover{
  background: black;
  color: white
}

.buttondiv{
  display: flex;
  justify-content: space-around;
}