.col-12.welcome{
   
    margin-top: 120px;
    display:flex;
    justify-content: center;
    
}

.col-12.welcome h1{
    font-size: 5vh;
    color: white
    
}

body{
    background-image: url(./backgroundPicture/federica-galli-505552-unsplash.jpg);   
    top:0;
    right:0;
    left:0;
    right:0;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover;
  
}


